@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #1f1f23;
  --bg-soft: #2a2a2f;
  --fg: #ffffff;
  --muted: #bdbdbd;
  --accent: #00E0FF;
}

html[dir="rtl"] * { font-family: 'Cairo', sans-serif; }

body {
  background-color: var(--bg);
  color: var(--fg);
  margin: 0;
}
.scrollbar-thin::-webkit-scrollbar { width: 6px; height: 6px; }
.scrollbar-thin::-webkit-scrollbar-thumb { background: #3a3a42; border-radius: 6px; }
.scrollbar-thin::-webkit-scrollbar-track { background: #24242a; }
